if lists != ''
	div.col-md-6.margin-top-20.pull-right(style="margin-bottom: 20px;")
		h3 Your listings
		h6
			i ...Changing something?...
		ul.timeline
			each list in lists
				li.time-label
					button.btn.btn-flat.btn-info.inactive-link #{list.listedOnDate}
				li
					div.timeline-item
						div.pull-left.timeline-image-size
							img.image-resize-timeline(src=list.image[0])
						span.time
							i.fa.fa-clock-o #{list.listedOnTime}
						h3.timeline-header
							a(href="#") #{list.title}
							if list['availability'] === '1'
								i(style="color:#8CC152;font-size:10px")  available
							else
								i(style="color:#8CC152;font-size:10px")  not available
						div.timeline-body 
							p
								i Address:
								|  #{list.address}
							p
								i Rent:
								-if (list.type == 'flat') {
									|  #{list.rent[0].rent} #{list.rent[0].rentType}
								-} else {
									-var min = isNaN(list.rent[0].rent)? 999999 : list.rent[0].rent;
									-var max = isNaN(list.rent[0].rent)? 0 : list.rent[0].rent;
									-list.rent.forEach(function (rent) {
									-	if (rent.rent<min) min = rent.rent;
									-	if (rent.rent>max) max = rent.rent;
									-});
									|  #{min} - #{max}
								-}
						div.timeline-footer
							a.btn.btn-flat.btn-primary.btn-sm(href="/ownerhome/" + list['_id']) View listing
							a.deleteListButton.btn.btn-flat.btn-danger.btn-sm(href="/deletelist/" + list['_id']) Delete